body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #ffffff;
    padding-top: 50px;
    background: url("/assets/images/wood.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    /*background-size: cover;*/
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

/*#footer {*/
    /*float:left;*/
    /*text-align: center;*/
    /*padding:15px 0;*/
    /*min-width:100%;*/
/*}*/

#footer {
    font-size: 12px;
    text-align: center;
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    background-color: #000;
    color: #fff;
    opacity: 0.5;
}