body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

/*#footer {*/
    /*background-color: black;*/
    /*float:left;*/
    /*padding:15px 0;*/
    /*min-width:100%;*/
/*}*/