body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #fff;
    padding-top: 50px;
    background: url("/assets/images/wood.jpg");
    background-repeat: repeat;
    background-position: top center;
    background-attachment: fixed;
    /*background-size: cover;*/
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#footer {
    font-size: 12px;
    text-align: center;
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    background-color: #000;
    color: #fff;
    opacity: 0.5;
    z-index: 1030;
}

.thumbnail.thumb-photo{
    background-color: transparent;
}

div.row.favorite{
    margin-top: 2em
}

div.row.favorite div{
    /*background-color: rgba(0,0,0,0.5);*/
}

p.edu-univ-toggle-p, #edu-univ-toggle-confirm{
    display: none;
}
