@main("Javachip - about") {
    @header("about")
    <div class="container">
        <div class="starter-template">
            <h1>This is Daegi Kim, from korea.</h1>
            <img src="@routes.Assets.at("images/DaegiKim.jpg")" class="img-rounded" style="width: 100%">

            <div>
                <p>{Introduce about me here}</p>
            </div>

            <div class="row favorite">
                <div class="col-lg-4">
                    <h3>My favorite animal is...</h3>
                    <h2>pug!</h2>
                    <img src="@routes.Assets.at("images/blackpug.jpg")" class="img-rounded" style="width: 100%">
                    <h5>(Especially black pug)</h5>
                </div>
                <div class="col-lg-4">
                    <h3>My favorite food is...</h3>
                    <h2>chicken!</h2>
                    <img src="@routes.Assets.at("images/chicken.jpg")" class="img-rounded" style="width: 100%">
                    <h5>(Especially fried & spicy chicken)</h5>
                </div>
                <div class="col-lg-4">
                    <h3>My favorite character is...</h3>
                    <h2>woody!</h2>
                    <img src="@routes.Assets.at("images/woody.jpg")" class="img-rounded" style="width: 100%">
                    <h5>(Yes, It's me.)</h5>
                </div>
            </div>

            <!-- BEGIN Timeline Embed -->
            <div id="timeline-embed"></div>
            <script type="text/javascript">
            var timeline_config = {
            width:              '100%',
            height:             '600',
            source:             'https://docs.google.com/spreadsheet/pub?key=0Art3h7muCuo5dDY0RGE2QmxLTE9ITkZjRDM1cnZxbUE&output=html',
            css:                '@routes.Assets.at("timelinejs/css/timeline.css")',
            js:                 '@routes.Assets.at("timelinejs/js/timeline-min.js")'
            }
            </script>
            <script type="text/javascript" src="@routes.Assets.at("timelinejs/js/storyjs-embed.js")"></script>
            <!-- END Timeline Embed-->
        </div>
    </div><!-- /.container -->
}